 <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<header class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row align-items-end">
          <div class="apiCardData">
              <div>
                <div id="name"></div>
                <div id="photo" ></div>
                <div id="known-for"></div>
                <div id="budget"></div>
                <div id="safety"></div>
                <div id="covid"></div>
                <div id="walk-score"></div>
                <div id="population"></div>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-md-6">
            <form class="form-inline">
              <div class="form-group">
                <label for=""></label>
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              </div>
            </form>
            <button class="btn btn-secondary">search</button>
            <button class="btn btn-secondary">add to wishlist</button>
          </div>
        </div>
      </div>
    </header>
  
    <main class="container">
      <section class="row my-4">
        <div class="col-12 col-md-9">
          <section class="row justify-content-around">
  
            <div class="col-12 col-lg-6">
              <div class="card">
                <h3 class="card-header bg-dark text-white">
                  wishlist
                </h3>
                {{#each wishlistLog as |wishlist|}}
                <div class="card-body">
                  <div>

                    <p>
                    Destination: {{wishlist.destination}} |
                    Budget: ${{wishlist.budget}} |
                    Landmarks: {{wishlist.landmarks}} |
                    Duration: {{wishlist.duration}} |
                    </p>

                  </div>
                  <button class="btn btn-block btn-secondary">delete</button>
                  <br>
                  <button class="btn btn-block btn-secondary">update</button>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <h3 class="card-header bg-dark text-white">
                  history
                </h3>
                <div class="card-body">

                  <button class="btn btn-block btn-secondary">delete</button>
                  <br>
                  <button class="btn btn-block btn-secondary">update</button>

                  {{#each historyLog as |history|}}
                  <p>
                    Destination: {{history.destination}} |
                    Cost: ${{history.cost}} |
                    Landmarks: {{history.landmarks}} |
                    Duration: {{history.duration}}
                  </p>
                  <button class="btn btn-block btn-info" data-destination="{{history.destination}}">delete</button>
                  <button class="btn btn-block btn-info" data-destination="{{history.destination}}">update</button>
                  {{/each}}
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-12 col-md-3">
          <h2>share where you've been!</h2>

      <form class="form new-history-form">
      <div class="form-group">
        <label for="destination">destination:</label>
        <input class="form-input" type="text" id="destination" name="destination" />
      </div>
      <div class="form-group">
        <label for="cost">cost:</label>
        <input class="form-input" type="number" id="cost" name="budget" />
      </div>
      <div class="form-group">
        <label for="landmarks">landmarks:</label>
        <textarea class="form-input" id="landmarks" name="landmarks"></textarea>
      </div>
            <div class="form-group">
        <label for="duration">duration:</label>
        <input class="form-input" type="text" id="duration" name="duration" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary">Create</button>
      </div>
    </form>
  </div>




<script src="./js/profile.js"></script>
