 <div class="row">
  <div class="col-auto">
    <h2 id="welc">Welcome!</h2>
  </div>
</div>

{{!-- Possible space for future development. SEARCH BAR SECTION --}}
{{!-- <header class="jumbotron jumbotron-fluid"> 
  <div class="col-12 col-md-6">
    <form class="form-inline">
      <div class="form-group">
        <label for=""></label>
        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
      </div>
    </form>
      <button class="btn btn-secondary">search</button>
      <button class="btn btn-secondary">add to wishlist</button>
  </div>
</header> --}}
  
<main class="container" id="subs">
  <section class="row my-6">
    <div class="col-12 col-lg-4">
    <section class="row justify-content-around">

    <h2>Where are you going?</h2>
    
    <form class="form new-wishlist-form">
      <div class="form-group">
        <label for="destination">destination:</label>
        <input class="form-input" type="text" id="destination" name="destination" />
      </div>
      <div class="form-group">
        <label for="budget">budget:</label>
        <input class="form-input" type="number" id="budget" name="budget" />
      </div>
      <div class="form-group">
        <label for="landmarks">landmarks:</label>
        <textarea class="form-input" id="landmarks" name="landmarks"></textarea>
      </div>
            <div class="form-group">
        <label for="duration">duration:</label>
        <input class="form-input" type="text" id="duration" name="duration" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary">Create</button>
      </div>
    </form>
  </div>

  <div class="col-12 col-lg-4">
    <h2>Where have you been?</h2>
    
    <form class="form new-history-form">
      <div class="form-group">
        <label for="destination">destination:</label>
        <input class="form-input" type="text" id="hdestination" name="destination" />
      </div>
      <div class="form-group">
        <label for="cost">cost:</label>
        <input class="form-input" type="number" id="hcost" name="cost" />
      </div>
      <div class="form-group">
        <label for="landmarks">landmarks:</label>
        <textarea class="form-input" id="hlandmarks" name="landmarks"></textarea>
      </div>
            <div class="form-group">
        <label for="duration">duration:</label>
        <input class="form-input" type="text" id="hduration" name="duration" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary">Create</button>
      </div>
    </form>
    </section>
    </div>
  </section>
</main>


<main class="container" id="entries">
      <section class="row my-6">
        <div class="col-12 col-md-9">
          <section class="row justify-content-around">
  
            <div class="col-12 col-lg-6 wishlist-card">
              <div class="card">
                <h3 class="card-header bg-dark text-white">
                  wishlist
                </h3>
                {{#each wishlistLog as |wishlist|}}
                <div class="card-body">
                  <div>

                    <p>
                    Destination: {{wishlist.destination}} |
                    Budget: ${{wishlist.budget}} |
                    Landmarks: {{wishlist.landmarks}} |
                    Duration: {{wishlist.duration}} |
                    </p>

                  </div>
                  <button class="btn btn-block btn-secondary" data-id="{{wishlist.id}}">delete</button>
                  {{!-- <button class="btn btn-block btn-secondary" data-id="{{wishlist.id}}">update</button> --}}
                </div>
                {{/each}}
              </div>
            </div>
            <div class="col-12 col-lg-6 history-card">
              <div class="card">
                <h3 class="card-header bg-dark text-white">
                  history
                </h3>
                <div class="card-body">

                  {{!-- <button class="btn btn-block btn-secondary">delete</button>
                  <br>
                  <button class="btn btn-block btn-secondary">update</button> --}}

                  {{#each historyLog as |history|}}
                  <p>
                    Destination: {{history.destination}} |
                    Cost: ${{history.cost}} |
                    Landmarks: {{history.landmarks}} |
                    Duration: {{history.duration}}
                  </p>
                  <button class="btn btn-block btn-info" data-id="{{history.id}}">delete</button>
                  {{!-- <button class="btn btn-block btn-info" data-id="{{history.id}}">update</button> --}}
                  {{/each}}
                </div>
              </div>
            </div>
          </section>
        </div>
</main>





<script src="./js/profile.js"></script>
